.vtex-searchbar input {
    border: none;
    border-bottom: 2px solid #727272;
}

.vtex-carousel__img-container {
    padding: 10px 0;
}

.av-seo-text {
    background-color: #F8F8F8;
}

.av-seo-text h1{
    font-size: 22px;
}

.av-seo-text span{
    font-size: 41px;
    display: block;
}

.av-seo-text p{
    font-size: 12px;
}

.mr7-m {
    display: none;
}

.vtex-top-menu__icons {
    margin: 0;
}

.vtex-top-menu .items-center {
    justify-content: space-between;
}
